.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(217, 217, 217, 0.38);

    border-radius: 15px;

    margin: 80px 50px 0px 50px;
    padding: 50px 50px 20px 50px;

    &__input{
        font-size: 14px;
        margin: 5px 0px 15px 0px;
        width: 800px;
        padding: 10px 5px;
        border-radius: 5px;
        border: none;
        background-color: white;
    }

    &__label{
        align-items: left;
        position: relative;
        font-size: 16px;
        font-weight: 500;

        &__span{
            color: #f21d2f;
        }
    }

    &__buttonLogin{
        background-color: #FF9F1C;

        border: 2px solid #FF9F1C;
        border-radius: 7px;

        margin-top: 14px;

        padding: 15px 44px;

        margin-left: auto;
        
        cursor: pointer;

        &:hover{
            background-color: #FFE8D6;
            transition: all .4s;
        }
    }
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px; 
}
  
.title {
    font-family: sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFBF68; // Cor do texto no título
}
  
.subTitle {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: 0px;
    text-align: center;
    color: black;// Cor do texto no subtítulo
}